/*? global clearing */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* color */
  --basic: #fff;
  --dark: #1e1e1e;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

/* section welcome*/

#welcome {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.8);
}

#welcome .row {
  justify-content: center;
}

#welcome form {
  background-color: var(--basic);
  padding: 1em;
}

/* end section welcome */

/* header */

header {
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #e4e4e4;
  background-color: var(--basic);
}

header .col ul {
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-top: 8px;
}

header ul li {
  border: 1px solid #c1c1c1;
  color: #5d5d5d;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
}

header .cart {
  position: fixed;
  bottom: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--dark);
  color: var(--basic);
}

/* end header */

/* main */

main {
  margin-top: 1em;
}

main .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

main .col {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  transition: 0.3s ease-in-out;
}

.menu:hover {
  cursor: default;
  box-shadow: 0 4px 8px rgba(30, 30, 30, 0.2);
}

main .col figure {
  gap: 1em;
  font-size: 0.8rem;
}

main .col figure input,
.btn button,
button {
  width: 30px;
  height: 30px;
  text-align: center;
}

main .col figure input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .btn {
  margin-top: 1em;
}

.menu .addToCart {
  justify-content: center;
  margin-right: 1em;
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  color: var(--basic);
  border: none;
  border-radius: 5px;
}

.photo {
  width: 100px;
  height: 100px;
  justify-content: center;
  background-color: #e4e4e4;
  border-radius: 10px 0 0 10px;
}

.photo span {
  color: #c1c1c1;
}

/* end main */

#detail__cart {
  width: 100%;
  height: 100vh;
  padding: 1em 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--basic);
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
}

#detail__cart.back {
  transform: translateX(0);
}

#detail__cart .header__cart {
  justify-content: flex-start;
  gap: 10px;
}

.position__customer {
  position: sticky;
  top: 16px;
  padding: 1em 0;
  border-bottom: 1px solid #c1c1c1;
}

#detail__cart .row {
  height: 400px;
  margin: 1em 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  overflow-y: scroll;
}

#detail__cart .process,
.back__cart,
.cancel {
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  background-color: var(--dark);
  border: none;
  color: var(--basic);
  border-radius: 10px;
  margin: 10px 0;
}

.back__cart {
  width: 40px;
  height: 40px;
  background-color: var(--dark);
  color: var(--basic);
}

.cancel {
  background-color: var(--basic);
  border: 2px solid var(--dark);
  color: var(--dark);
}
